@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.nav {
  display: flex;
  justify-content: space-around; /* Distribute items horizontally */
  align-items: center; /* Vertically align items */
  padding: 10px;
}
ul {
    display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
    display: flex;
    flex-direction:  column;
    font-family: 'Roboto';
}
a{
    text-decoration: none;
    color:#e5e7ebd9;
    font-size: 18px;
    margin-right:20px;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
    margin-right: 10px;
}
.header{
    background-color: #1F2937;
}

.nav-links{
    min-width: 100px;
}